{% extends "CMM/_LayoutMainMaster.html" %}
{% load i18n %}

{% block head %}
<script >
    function funcAdd() {
        funcDialogSet(900, 900, 550)
        var iFrame = $('#iframe1')
        iframe1.location.href = "/CM/WCM020_U101?pp=Y";
        $('#iframe1').css('height', $('#dialog').height() - 5);
        $('#iframe1').css('width', $('#dialog').width() - 0);
        //open("/NsmdG/CM/WCM020_U101/main/?pp=Y", "mngOfficeStaffA", cnjOpenShape(900, 550, 'no'));
    }

    function funcEdit() {
        var f = document.frm;
        var field = f.userIdx;
        if (field == undefined) {
            alert("{% trans '10003 Please, Select record.' %}");
            return;
        } else if (field.length == undefined) {
            if (field.checked) {
                funcDialogSet(900, 900, 550)
                var iFrame = $('#iframe1')
                iframe1.location.href = "/CM/WCM020_U101?pp=Y&CMS_CD=" + field.value + "&O_URL=/CM/WCM020_S101";
                $('#iframe1').css('height', $('#dialog').height() - 5);
                $('#iframe1').css('width', $('#dialog').width() - 0);
                //open("/NsmdG/CM/WCM020_U101/main/?pp=Y&CMS_CD=" + field.value + "&O_URL=/NsmdG/CM/WCM020_S101/main/", "mngOfficeStaffA", cnjOpenShape(900, 550, 'no'));
            } else {
                alert("{% trans '10003 Please, Select record.' %}");
                return;
            }
        } else {
            var checkflag2 = 0;
            var checkflag3 = "";
            for (i = 0; i < field.length; i++) {
                if (field[i].checked) {
                    checkflag2 = checkflag2 + 1;
                    checkflag3 = i;
                }
            }
            if (checkflag2 == 1) {
                funcDialogSet(900, 900, 550)
                var iFrame = $('#iframe1')
                iframe1.location.href = "/CM/WCM020_U101?pp=Y&CMS_CD=" + field[checkflag3].value + "&O_URL=/CM/WCM020_S101";
                $('#iframe1').css('height', $('#dialog').height() - 5);
                $('#iframe1').css('width', $('#dialog').width() - 0);
                //open("/NsmdG/CM/WCM020_U101/main/?pp=Y&CMS_CD=" + field[checkflag3].value + "&O_URL=/NsmdG/CM/WCM020_S101/main/", "mngOfficeStaffA", cnjOpenShape(900, 550, 'no'));
            } else {
                alert("{% trans '10003 Please, Select record.' %}");
                return;
            }
        }
    }

    function funcDel() {
        var f = document.frm;
        var field = f.userIdx;
        f.TPROC.value = "DEL";

        if (field == undefined) {
            alert("{% trans '10003 Please, Select record.' %}");
            return;
        } else if (field.length == undefined) {
            if (field.checked) {
                if (true == confirm("{% trans '11026 Do you want to delete selected data?' %}")) {
                    f.action = "/CM/WCM020_S101"    // 기존 코드 NsmdG/CM/WCM020_S101/mainTran/
                    f.submit();
                }
            } else {
                alert("{% trans '10003 Please, Select record.' %}");
                return;
            }
        } else {
            var checkflag2 = "false"
            for (i = 0; i < field.length; i++) {
                if (field[i].checked) {
                    checkflag2 = "true"
                }
            }
            if (checkflag2 == "true") {
                if (true == confirm("{% trans '11026 Do you want to delete selected data?' %}")) {
                    f.action = "/CM/WCM020_S101"    // 기존 코드 NsmdG/CM/WCM020_S101/mainTran/
                    f.submit();
                }
            } else {
                alert("{% trans '10003 Please, Select record.' %}");
                return;
            }
        }
    }

    function funcSearch() {
        var f = document.searchform
        f.submit();
    }
    function keydown_handler(e) {
        if (window.event.keyCode == 13) //Only for Microsoft Internet Explorer
        {
            funcSearch()
            return false;
        }
    }


    $(document).ready(function () {
        $('body').keydown(function () {
            var keyCode = event.keyCode;
            //F2
            if (keyCode == 113) {
                funcSearch('');
            }
            if (keyCode == 117) {
                funcAdd();
            }
        });
    });
    var iFrameTem = "<iframe name=\"iframe1\" id=\"iframe1\" src=\"\" width=\"100%\" height=\"\" frameborder=\"0\" scrolling=\"no\" onload=\"\"></iframe>"
    function funcDialogSet(valWidth1, valWidth2, valHeight) {
        //Dialog 세팅
        $('#dialog').dialog({
            autoOpen: false,
            width: valWidth1,
            css: true
        });

        $('#dialog').empty();
        $('#dialog').html(iFrameTem);

        $('#dialog').dialog('open');

        $('#dialog').width(valWidth2);
        $('#dialog').height(valHeight);
    }

    </script>
{% endblock head %}

{% block content %}
<!--<%
    Dim rs = ViewData("resultrs")
    Dim strParam = ViewData("strParam")
    Dim paramVO = ViewData("resultVO")
    Dim _commonFunction As New RLINK.CommonFunction(ViewContext.HttpContext, ViewData("sessionInfo").officeNo)
    Dim recordCount = ViewData("resultVO").recordCount
    Dim Gotopage = ViewData("resultVO").Gotopage
    Dim pagesize = ViewData("resultVO").pagesize
    Dim pagecount = ViewData("resultVO").pagecount
    Dim recnum = ViewData("resultVO").recnum

    Dim CMS_CD = ViewData("resultVO").CMS_CD
    Dim OTA_NM = ViewData("resultVO").OTA_NM
    '' excel 용 변수
    Dim ex_sql = ViewData("resultVO").ex_sql
    Dim ex_cond = ViewData("resultVO").ex_cond
    Dim ex_title = ViewData("resultVO").ex_title
    Dim ex_head = ViewData("resultVO").ex_head
    Dim ex_datatype = ViewData("resultVO").ex_datatype
    Dim ex_column = ViewData("resultVO").ex_column
    Dim ex_page = ViewData("resultVO").ex_page

%>-->
    <!-- excel 다운로드용 start -->
    <form name="exfrm" method="post" action="/CMM/excel_02" target="_self"> <!-- action="/NsmdG/cmm/excel_02/main/" -->
        <input type="hidden" name="ex_sql" value="{{resultVO.ex_sql}}">
        <input type="hidden" name="ex_title" value="{{resultVO.ex_title}}">
        <input type="hidden" name="ex_cond" value="{{resultVO.ex_cond}}">
        <input type="hidden" name="ex_head" value="{{resultVO.ex_head}}">
        <input type="hidden" name="ex_datatype" value="{{resultVO.ex_datatype}}">
        <input type="hidden" name="ex_column" value="{{resultVO.ex_column}}">
        <input type="hidden" name="ex_page" value="/CM/WCM020_S101">
    </form>
<!--<%&#45;&#45;    <a href="javascript:document.exfrm.submit();">
        <img src="/static/images/xls.gif"></a>&#45;&#45;%>-->
    <!-- excel 다운로드용 end -->
     <div id="dialog" title="" style="padding:0 0 0 0"></div>
<h2 class="pagetitle">{% trans "12563 Master" %} OTA</h2>
    <div class="pageid" id="noprint">CM020 S101</div>
<div class="search">
    <form name="searchform" method="get" action="/CM/WCM020_S101">
    <input type="hidden" name="bOpened" value="true">
    <table width="100%">
            <tr>
                <td>
                    <table width="100%">
                        <tr>
                            <td width="70">CMS
                            </td>
                            <td width="200">
                                <select name="CMS_CD" id="CMS_CD" style="width: 150px;" onblur="chkInjection(this);" onfocus="" tabindex1="34">
                                    {% load SetSelectBox1 %}
                                    {% SetSelectBox1 "CMS_ALL" resultVO.CMS_CD "ALL" "" "" request sessionInfo.OfficeNo %}
                                </select>
                            </td>
                            <td width="50">OTA
                            </td>
                            <td colspan="6">
                                <input style="width: 170px" type="text" name="OTA_NM" id="OTA_NM" value="{{resultVO.OTA_NM}}" />
                            </td>
                            <td style="padding-right: 2px; padding-left: 2px; text-align: right">
                                <input type="button" class="RLINK_button82" onclick="funcSearch();" value="{% trans '11540 Search' %}(F2)" id="noprint" border="0" />
                                <input type="button" class="RLINK_button62" onclick="funcAdd();" value="{% trans '12501 Add' %}" id="noprint" border="0" />
                                <input type="button" class="RLINK_button62" onclick="funcEdit();" value="{% trans '12502 Modify' %}" id="noprint" border="0" />
                                <input type="button" class="RLINK_button62" onclick="funcDel();" value="{% trans '11664 Delete' %}" id="noprint" border="0" />

                                <a href="javascript:document.exfrm.submit();">
                                    <img src="/static/images/icons/xls.gif" id="noprint"></a>
                                <a href="javascript:printWindow('', '', 0, 0, 20, 0, 1, '');">
                                    <img src="/static/images/icons/icoprint.gif" /></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
    </table>
    </form>
</div>

<div class="info">
    <!--
        <%&#45;&#45;
        <tr>
            <td width="25"></td>
            <td valign="top">

                <br />
                <table width="100%" valign="top">
                    <tr style="height: 25">
                        <td valign="middle" colspan="6" >
                            &lt;!&ndash;총 <%=recordCount%>건&ndash;&gt;
                        </td>
                        <td width="6" valign="top"></td>
                        <td width="300" align="right" valign="top"></td>
                    </tr>
                </table>
            </td>
        </tr>
        &#45;&#45;%>
    -->
            <form name="frm" method="post" action="">
                <input type="hidden" name="TPROC" value="">
                <input type="hidden" name="O_URL" value="/CM/WCM020_S101">      <!-- value="/EBANK/CM/WCM020_S101/main/" -->

                <table width="100%" class="f4tbl">
                       <tr>
                            <th width="30">
                                <input type="checkbox" onclick="chkboxall();"></th>
                            <th width="30" height="25">NO</th>
                            <th width="100"><a href="/CM/WCM020_S101?strSort={{OTA_CD}}{{strParam}}"><u>OTA {% trans "11053 Code" %}</u></a></th>
                            <th width="70"><a href="/CM/WCM020_S101/main/?strSort={{tl_socc}}{{strParam}}"><u>SUB</u></a></th>
                            <th width="190"><a href="/CM/WCM020_S101/main/?strSort={{OTA_NM}}{{strParam}}"><u>OTA {% trans "12225 Name" %}</u></a></th>
                            <th width="70"><a href="/CM/WCM020_S101/main/?strSort={{CONTRACT_YN}}{{strParam}}"><u>{% trans "12539 Contract" %}</u></a></th>
                            <th width="70"><a href="/CM/WCM020_S101/main/?strSort={{OTA_TYPE_NM}}{{strParam}}"><u>{% trans "11661 Type" %}</u></a></th>
                            <th width="70"><a href="/CM/WCM020_S101/main/?strSort={{AMT_FLAG_NM}}{{strParam}}"><u>{% trans "12553 Amt Flag" %}</u></a></th>
                            <th width="50"><a href="/CM/WCM020_S101/main/?strSort={{USE_FLAG}}{{strParam}}"><u>{% trans "11668 Use" %}</u></a></th>
                            <th width="80">{% trans "12250 Insert" %}</th>
                            <th width="*">{% trans "11952 Insert Date" %}</th>
                        </tr>
                        {% if resultVO.recordcount == 0 %}
                        <tr id="tr0" bgcolor="#FEFEFE" >
                            <td height="20" colspan="10">{% trans "10007 No Data" %}
                            </td>
                        </tr>
                        {% else %}
                            {% for rs in resultrs %}
                            <tr align="center" id="tr{{forloop.counter}}" onmouseover="cellOver(this)" onmouseout="cellOut(this)" bgcolor="FEFEFE" >
                                <td>
                                    <input type="checkbox" name="userIdx" value="{{rs.CMS_CD}}|{{rs.OTA_CD}}|{{rs.TL_SOCC}}" onclick="chkboxcel('tr{{forloop.counter}}', this);"></td>
                                <td>{{resultVO.recnum|add:forloop.counter}}</td>
                                <td>{{rs.OTA_CD}}</td>
                                <td>{{rs.tl_socc}}</td>
                                <td align="left">{{rs.OTA_NM}}</td>
                                <td>{{rs.CONTRACT_YN}}</td>
                                <td align="left">{{rs.OTA_TYPE_NM}}</td>
                                <td align="left">{{rs.AMT_FLAG_NM}}</td>
                                <td>{{rs.USE_FLAG}}</td>
                                <td>{{rs.insert)id}}</td>
                                {% load Trim %}
                                <td align="left">{{rs.insert_date|Trim}}</td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                        <tr bgcolor="#F7F7F7" align="right">
                            <td id="noprint" colspan="20">
                                {% load blockpage %}
                                {% with blockpage=resultVO.Gotopage|blockpage %}
                                {% if blockpage == 1 %}
                                <img src="/static/images/btn/btn_pre_off.gif" border="0" align="absmiddle">
                                {% else %}
                                <a href="/CM/WCM020_S101?gotopage={{blockpage|add:-10}}&pagesize={{resultVO.pagesize}}{{strParam}}"><img src="/static/images/btn/btn_pre_on.gif" border="0" align=absmiddle"></a>
                                {% endif %}
                                {% with ''|center:10 as range %}
                                {% for k in range %}
                                    {% if not blockpage|add:forloop.counter0 > resultVO.pagecount %}
                                        {% if blockpage|add:forloop.counter0 == resultVO.Gotopage %}
                                        <font style="font-size: 12px; color: red"><b>[{{blockpage|add:forloop.counter0}}]</b></font>
                                        {% else %}
                                        <a href='/CM/WCM020_S101?gotopage={{blockpage|add:forloop.counter0}}&pagesize={{resultVO.pagesize}}{{strParam}}'><font style="font-size: 9pt; color:#666666">{{blockpage|add:forloop.counter0}}</font></a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% endwith %}
                                {% if blockpage <= resultVO.pagecount %}
                                <img src="/static/images/btn/btn_next_off.gif" border="0" align="absmiddle">
                                {% else %}
                                <a href="/CM/WCM020_S101?gotopage={{blockpage}}&pagesize={{resultVO.pagesize}}{{strParam}}"><img src="/static/images/btn/btn_next_on.gif" border="0" align="absmiddle"></a>
                                {% endif %}
                                {% endwith %}
                            </td>
                        </tr>
                </table>

            </form>
</div>
{% endblock content %}