{% extends "CMM/_LayoutMainMaster.html" %}
{% load i18n %}

{% block head %}
    <script>
        function funcAdd() {
            funcDialogSet(900, 900, 480)
            var iFrame = $('#iframe1')
            iframe1.location.href = "/CM/WCM010_U101?pp=Y";
            $('#iframe1').css('height', $('#dialog').height() - 5);
            $('#iframe1').css('width', $('#dialog').width() - 0);
           // open("/CM/WCM010_U101/main/?pp=Y", "mngOfficeStaffA", cnjOpenShape(900, 480, 'no'));
        }

        function funcEdit() {
            var f = document.frm;
            var field = f.userIdx;
            if (field == undefined) {
                alert("{% trans '10003 Please, Select record.' %}")
                return;
            } else if (field.length == undefined) {
                if (field.checked) {
                    funcDialogSet(900, 900, 480)
                    var iFrame = $('#iframe1')
                    iframe1.location.href = "/CM/WCM010_U101?pp=Y&CMS_CD=" + field.value + "&O_URL=/CM/WCM010_S101";
                    $('#iframe1').css('height', $('#dialog').height() - 5);
                    $('#iframe1').css('width', $('#dialog').width() - 0);
                    //open("/CM/WCM010_U101/main/?pp=Y&CMS_CD=" + field.value + "&O_URL=/CM/WCM010_S101/main/", "mngOfficeStaffA", cnjOpenShape(900, 500, 'no'));
                } else {
                    alert("{% trans '10003 Please, Select record.' %}")
                    return;
                }
            } else {
                var checkflag2 = 0;
                var checkflag3 = "";
                for (i = 0; i < field.length; i++) {
                    if (field[i].checked) {
                        checkflag2 = checkflag2 + 1;
                        checkflag3 = i;
                    }
                }
                if (checkflag2 == 1) {
                    funcDialogSet(900, 900, 480)
                    var iFrame = $('#iframe1')
                    iframe1.location.href = "/CM/WCM010_U101?pp=Y&CMS_CD=" + field[checkflag3].value + "&O_URL=/CM/WCM010_S101";
                    $('#iframe1').css('height', $('#dialog').height() - 5);
                    $('#iframe1').css('width', $('#dialog').width() - 0);
                    //open("/CM/WCM010_U101/main/?pp=Y&CMS_CD=" + field[checkflag3].value + "&O_URL=/CM/WCM010_S101/main/", "mngOfficeStaffA", cnjOpenShape(900, 500, 'no'));
                } else {
                    alert("{% trans '10003 Please, Select record.' %}");
                    return;
                }
            }
        }

        function funcDel() {
            var f = document.frm;
            var field = f.userIdx;
            f.TPROC.value = "DEL";

            if (field == undefined) {
                alert("{% trans '10003 Please, Select record.' %}")
                return;
            } else if (field.length == undefined) {
                if (field.checked) {
                    if (true == confirm("{% trans '11026 Do you want to delete selected data?' %}")) {
                        f.action = "/CM/WCM010_S101/mainTran/"
                        f.submit();
                    }
                } else {
                    alert("{% trans '10003 Please, Select record.' %}")
                    return;
                }
            } else {
                var checkflag2 = "false"
                for (i = 0; i < field.length; i++) {
                    if (field[i].checked) {
                        checkflag2 = "true"
                    }
                }
                if (checkflag2 == "true") {
                    if (true == confirm("{% trans '11026 Do you want to delete selected data?' %}")) {
                        f.action = "/CM/WCM010_S101/mainTran/"
                        f.submit();
                    }
                } else {
                    alert("{% trans '10003 Please, Select record.' %}");
                    return;
                }
            }
        }

        function funcSearch() {
            var f = document.searchform
            f.submit();
        }
        function keydown_handler(e) {
            if (window.event.keyCode == 13) //Only for Microsoft Internet Explorer
            {
                funcSearch()
                return false;
            }
        }


        $(document).ready(function () {
            $('body').keydown(function () {
                var keyCode = event.keyCode;
                //F2
                if (keyCode == 113) {
                    funcSearch('');
                }
                if (keyCode == 117) {
                    funcAdd();
                }
            });
        });

        var iFrameTem = "<iframe name=\"iframe1\" id=\"iframe1\" src=\"\" width=\"100%\" height=\"\" frameborder=\"0\" scrolling=\"no\" onload=\"\"></iframe>"
        function funcDialogSet(valWidth1, valWidth2, valHeight) {
            //Dialog 세팅
            $('#dialog').dialog({
                autoOpen: false,
                width: valWidth1,
                css: true
            });

            $('#dialog').empty();
            $('#dialog').html(iFrameTem);

            $('#dialog').dialog('open');

            $('#dialog').width(valWidth2);
            $('#dialog').height(valHeight);
        }
    </script>
{% endblock head %}

{% block content %}
<!--
    <%
        Dim rs = ViewData("resultrs")
        Dim strParam = ViewData("strParam")
        Dim paramVO = ViewData("resultVO")
        Dim _commonFunction As New RLINK.CommonFunction(ViewContext.HttpContext, ViewData("sessionInfo").officeNo)
        Dim recordCount = ViewData("resultVO").recordCount
        Dim Gotopage = ViewData("resultVO").Gotopage
        Dim pagesize = ViewData("resultVO").pagesize
        Dim pagecount = ViewData("resultVO").pagecount
        Dim recnum = ViewData("resultVO").recnum

        Dim CMS_NM = ViewData("resultVO").CMS_NM

        '' excel 용 변수
        Dim ex_sql = ViewData("resultVO").ex_sql
        Dim ex_cond = ViewData("resultVO").ex_cond
        Dim ex_title = ViewData("resultVO").ex_title
        Dim ex_head = ViewData("resultVO").ex_head
        Dim ex_datatype = ViewData("resultVO").ex_datatype
        Dim ex_column = ViewData("resultVO").ex_column
        Dim ex_page = ViewData("resultVO").ex_page

    %>
-->
    <div id="dialog" title="" style="padding:0 0 0 0"></div>
    <h2 class="pagetitle">{% trans "12540 Master CMS" %}</h2>
    <div class="pageid" id="noprint">CM010 S101</div>
    <!-- excel 다운로드용 start -->

    <form name="exfrm" method="post" action="/CMM/excel_02" target="_self">
        <input type="hidden" name="ex_sql" value="{{ex_sql}}">
        <input type="hidden" name="ex_title" value="{{ex_title}}">
        <input type="hidden" name="ex_cond" value="{{ex_cond}}">
        <input type="hidden" name="ex_head" value="{{ex_head}}">
        <input type="hidden" name="ex_datatype" value="{{ex_datatype}}">
        <input type="hidden" name="ex_column" value="{{ex_column}}">
        <input type="hidden" name="ex_page" value="/CM/WCM010_S101">
    </form>
    <!--<%--    <a href="javascript:document.exfrm.submit();">
        <img src="/static/images/xls.gif"></a>--%>-->
    <!-- excel 다운로드용 end -->

    <div class="search">
        <form name="searchform" method="get" action="/CM/WCM010_S101/main/">
            <table width="100%">
                <tr>
                    <td width="100" align="right">CMS {% trans "12225 Name" %}
                    </td>
                    <td width="110">
                        <input type="text" name="CMS_NM" value="{{resultVO.CMS_NM}}" style="ime-mode: active;" onblur="injectioncheck(this)" size="20">
                    </td>
                    <td style="padding-right: 2px; padding-left: 2px; text-align: right">
                        <input type="button" class="RLINK_button82" onclick="funcSearch();" value="{% trans '11540 Search' %}(F2)" id="noprint" border="0" />
                        <input type="button" class="RLINK_button62" onclick="funcAdd();" value="{% trans '12501 Add' %}" id="noprint" border="0" />
                        <input type="button" class="RLINK_button62" onclick="funcEdit();" value="{% trans '12502 Modify' %}" id="noprint" border="0" />
                        <input type="button" class="RLINK_button62" onclick="funcDel();" value="{% trans '11664 Delete' %}" id="noprint" border="0" />
                        <a href="javascript:document.exfrm.submit();">
                            <img src="/static/images/icons/xls.gif" id="noprint"></a>
                        <a href="javascript:printWindow('', '', 0, 0, 20, 0, 1, '');">
                            <img src="/static/images/icons/icoprint.gif" /></a>
                    </td>
                </tr>
            </table>
            <table width="100%">
                <tr>
                    <td valign="middle" colspan="6">
                        <!--총 <%=recordCount%>건-->
                    </td>
                    <td width="6"></td>
                    <td width="300" align="right"></td>
                </tr>
            </table>

        </form>

        <br />

    </div>

    <div class="info">
        <form name="frm" method="post" action="">
            <input type="hidden" name="TPROC" value="">
            <input type="hidden" name="O_URL" value="/CM/WCM010_S101"> <!-- value="/EBANK/CM/WCM010_S101/main/" -->

            <table width="100%" border="0" cellspacing="1" cellpadding="0" bgcolor="#C0C0C0" class="f4tbl">
                <tr>
                    <th width="30">
                        <input type="checkbox" onclick="chkboxall();"></th>
                    <th width="30" height="25">NO</th>
                    <th width="100">{% trans "11053 Code" %}</th>
                    <th width="330">Cms {% trans "12225 Name" %}</th>
                    <th width="70">{% trans "11668 Use" %}</th>
                    <th width="50">{% trans "11540 Search" %}</th>
                    <th width="80">{% trans "12250 Modify" %}</th>
                    <th width="*">{% trans "11952 Insert Date" %}</th>
                </tr>
                {% if resultVO.recordcount == 0 %}
                <tr id="tr0" bgcolor="#FEFEFE">
                    <td height="20" colspan="8">{% trans "10007 No data." %}
                    </td>
                </tr>
                {% else %}
                    {% for rs in resultrs %}
<!--
                <%
                    Else
                        'Dim recnum As Integer
                        Dim inxSeq As Integer
                        Do While Not rs.eof
                            recnum = recnum + 1
                            inxSeq = inxSeq + 1
                %>-->
                    <tr align="center" id="tr{{forloop.counter}}" onmouseover="cellOver(this)" onmouseout="cellOut(this)" bgcolor="FEFEFE">
                        <td>
                            <input type="checkbox" name="userIdx" value="{{rs.CMS_CD}}" onclick="chkboxcel('tr{{forloop.counter}}', this);"></td>
                        <td>{{resultVO.recnum|add:forloop.counter}}</td>
                        <td>{{rs.CMS_CD}}</td>
                        <td align="left">{{rs.CMS_NM}}</td>
                        <td>{{rs.CONTRACT_YN}}</td>
                        <td>{{rs.USE_FLAG}}</td>
                        <td>{{rs.insert_id}}</td>
                        {% load Trim %}
                        <td align="left">{{rs.insert_date|Trim}}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
                <!--<%
                            rs.movenext()
                        Loop
                    End If
                %>-->
                <tr bgcolor="#F7F7F7" align="right">
                    <td id="noprint" colspan="20">
                        {% load blockpage %}
                        {% with blockpage=resultVO.Gotopage|blockpage %}
                        {% if blockpage == 1 %}
                        <img src="/static/images/btn/btn_pre_off.gif" border="0" align="absmiddle">
                        {% else %}
                        <a href="/CM/WCM010_S101?gotopage={{blockpage|add:-10}}&pagesize={{resultVO.pagesize}}{{strParam}}"><img src="/static/images/btn/btn_pre_on.gif" border="0" align=absmiddle"></a>
                        {% endif %}
                        {% with ''|center:10 as range %}
                        {% for k in range %}
                            {% if not blockpage|add:forloop.counter0 > resultVO.pagecount %}
                                {% if blockpage|add:forloop.counter0 == resultVO.Gotopage %}
                                <font style="font-size: 12px; color: red"><b>[{{blockpage|add:forloop.counter0}}]</b></font>
                                {% else %}
                                <a href='/CM/WCM010_S101?gotopage={{blockpage|add:forloop.counter0}}&pagesize={{resultVO.pagesize}}{{strParam}}'><font style="font-size: 9pt; color:#666666">{{blockpage|add:forloop.counter0}}</font></a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% endwith %}
                        {% if blockpage <= resultVO.pagecount %}
                        <img src="/static/images/btn/btn_next_off.gif" border="0" align="absmiddle">
                        {% else %}
                        <a href="/CM/WCM010_S101?gotopage={{blockpage}}&pagesize={{resultVO.pagesize}}{{strParam}}"><img src="/static/images/btn/btn_next_on.gif" border="0" align="absmiddle"></a>
                        {% endif %}
                        {% endwith %}
                        <!--
                        <%

                            Dim blockpage, k As Integer
                            blockpage = Int((Gotopage - 1) / 10) * 10 + 1
                            If blockpage = 1 Then
                                Response.Write("<img src="/static/images/btn/btn_pre_off.gif" border="0" align="absmiddle">")
                            Else
                                Response.Write("<a href="/CM/WCM010_S101/main/?gotopage={{blockpage|add:-10}}&pagesize={{resultVO.pagesize}}{{strParam}}"><img src="/static/images/btn/btn_pre_on.gif" border="0" align=absmiddle"></a>")

                            End If
                            k = 1
                            Do Until k > 10 Or blockpage > pagecount
                                If blockpage = Int(Gotopage) Then
                                    Response.Write(" <font style="font-size: 12px; color: red"><b>[" & blockpage & "]</b></font>")
                                Else
                                    Response.Write(" <a href='/CM/WCM010_S101/main/?gotopage=" & blockpage & "&pagesize=" & pagesize & strParam & "'><font style=""font-size: 9pt; color:#666666"">[" & blockpage & "]</font></a> ")
                                End If
                                blockpage = blockpage + 1
                                k = k + 1
                            Loop
                            If blockpage > pagecount Then
                                Response.Write("<img src=""/content/images/btn/btn_next_off.gif"" border=""0"" align=""absmiddle"">")
                            Else
                                Response.Write("<a href=""/CM/WCM010_S101/main/?gotopage=" & blockpage & "&pagesize=" & pagesize & strParam & """><img src=""/content/images/btn/btn_next_on.gif"" border=""0"" align=""absmiddle""></a>")
                            End If
                        %>
                        -->
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock content %}