{% extends "CMM/_LayoutMainMaster.html" %}
{% load i18n %}

{% block head %}
    <script type="text/javascript">
        function funcSubmit() {
            if (document.frm.OFFICE_NO.value == "") {
                alert("{% trans '12288 Please select a hotel.' %}");
                document.frm.OFFICE_NO.focus();
                return;
            }

            if (document.frm.CMS_CD.value == "") {
                alert("{% trans '12587 Please Input CMS!' %}");
                document.frm.CMS_CD.focus();
                return;
            }

            if (document.frm.OFFICE_NO.disabled == true) {
                document.frm.OFFICE_NO.disabled = false
            }

            if (document.frm.CMS_CD.disabled == true) {
                document.frm.CMS_CD.disabled = false
            }

            if (true == confirm("{% trans '10001 Do you want to save?' %}")) {
                frm.action = "/CM/WCM100_U201"  //frm.action = "/NsmdG/CM/WCM100_U201/mainTran/"
                frm.submit();
            }
        }

        function enterNext(val) {
            var keyCode = event.keyCode;

            //alert(keyCode);
            if (keyCode != 13 && keyCode != 9) {
                //alert(keyCode);
                return;
            }
            else {
                //
            }

            if (keyCode == 9) {
                event.returnValue = false;
            }

            //엔터키 입력시 포커스 이동 설정
            if (keyCode == 13 || keyCode == 9) {
                var tmpVal = val.replaceAll("inputBox", "");

                //9번항목 Hidden 필드
                if (tmpVal == "9") { tmpVal = "10" }

                event.returnValue = false;
                $("#inputBox" + (parseInt(tmpVal) + 1)).focus();
                $("#inputBox" + (parseInt(tmpVal) + 1)).select();
            }
        }
    </script>
{% endblock head %}

{% block content %}
    <h2 class="pagetitle">CMS vs Hotel</h2>
    <div class="pageid">CM100 U201</div>

    <div class="info">
        <form name="frm" method="post" action="WCM100_U201">
            <input type="hidden" name="tproc" value="{{resultVO.tproc}}">
            <table width="100%" class="f4tblview">
                <tr>
                    <th align="right">{% trans "11003 Hotel" %}</th>
                    <td>
                        <select name="OFFICE_NO" id="OFFICE_NO" style="width: 150px;" onblur="chkInjection(this);" onfocus="" tabindex1="34" {% if resultVO.tproc == "EDIT" %}disabled{% endif %}>
                            {% load SetSelectBox2 %}
                            {% SetSelectBox2 "CMS_OFFICE" resultVO.OFFICE_NO "--" "" "" request sessionInfo.OfficeNo %}
                        </select>
                        &nbsp;{{resultVO.OFFICE_NO}}
                    </td>
                    <td width="2%"></td>
                    <th align="right">CMS</th>
                    <td>
                        <select name="CMS_CD" id="CMS_CD" style="width: 160px;" onblur="chkInjection(this);" onfocus="" tabindex1="34" {% if resultVO.tproc == "EDIT" %}disabled{% endif %}>
                            {% load SetSelectBox1 %}
                            {% SetSelectBox1 "CMS_ALL" resultVO.CMS_CD "" "" "" request sessionInfo.OfficeNo %}
                        </select>
                        &nbsp;{{resultVO.CMS_CD}}
                    </td>
                </tr>
                <tr>
                    <th align="right" width="15%">{% trans "12082 HOTEL.NO" %}
                    </th>
                    <td width="32%">
                        <input type="text" name="CMS_HOTELCODE" onblur="chkInjection(this,10)" style="width: 148px" value="{{resultVO.CMS_HOTELCODE}}">
                    </td>
                    <td width="2%"></td>
                    <th align="right" width="15%">Sys ID
                    </th>
                    <td width="36%">
                        <input type="text" name="CMS_SYSID" onblur="chkInjection(this,100)" style="width: 200px" value="{{resultVO.CMS_SYSID}}">
                    </td>
                </tr>
                <tr>
                    <th align="right">CMS
                    </th>
                    <td colspan="2">
                        <select id="Select1" name="CMS_USE_YN" style="width: 40px;" >
                            <option {% if resultVO.CMS_USE_YN == "Y" %}selected {% endif %} value="Y">Y</option>
                            <option {% if resultVO.CMS_USE_YN == "N" %}selected {% endif %} value="N">N</option>
                        </select>
                        &nbsp;&nbsp;&nbsp;USE{% trans "11003 Hotel" %}&nbsp;
                        <select id="Select2" name="USE_YN" style="width: 40px;" >
                            <option {% if resultVO.USE_YN == "Y" %}selected {% endif %} value="Y">Y</option>
                            <option {% if resultVO.USE_YN == "N" %}selected {% endif %} value="N">N</option>
                        </select>
                    </td>
                    <th align="right">{% trans "12255 User" %} {% trans "12349 ID" %}
                    </th>
                    <td>
                        <input type="text" name="CMS_USERID" onblur="chkInjection(this,30)" style="width: 200px" value="{{resultVO.CMS_USERID}}">
                    </td>
                </tr>
                <tr>
                    <th align="right">API2PMS</th>
                    <td  colspan="2">{% trans "12501 ADD" %}&nbsp;
                        <select id="RSVN_ADD" name="RSVN_ADD" style="width: 40px;">
                            <option {% if resultVO.RSVN_ADD == "N" %}selected {% endif %} value="N">N</option>
                            <option {% if resultVO.RSVN_ADD == "Y" %}selected {% endif %} value="Y">Y</option>
                        </select>&nbsp;UPD&nbsp;<select id="RSVN_UPDATE" name="RSVN_UPDATE" style="width: 40px;">
                            <option {% if resultVO.RSVN_UPDATE == "N" %}selected {% endif %} value="N">N</option>
                            <option {% if resultVO.RSVN_UPDATE == "Y" %}selected {% endif %} value="Y">Y</option>
                        </select>&nbsp;CXL&nbsp;<select id="RSVN_CANCEL" name="RSVN_CANCEL" style="width: 40px;">
                            <option {% if resultVO.RSVN_CANCEL == "N" %}selected {% endif %} value="N">N</option>
                            <option {% if resultVO.RSVN_CANCEL == "Y" %}selected {% endif %} value="Y">Y</option>
                        </select>
                    </td>
                    <th align="right">{% trans "12255 User" %} {% trans "11798 PWD" %}</th>
                    <td>
                        <input type="text" name="CMS_USERPWD" onblur="chkInjection(this,30)" style="width: 200px" value="{{resultVO.CMS_USERPWD}}">
                    </td>
                </tr>
                <tr>
                    <th align="right">{% trans "12604 Deny-days" %}
                    </th>
                    <td colspan="4">{% trans "12250 Modify" %}&nbsp;<select id="deny_modify_day" name="deny_modify_day" style="width: 40px;">
                        <option {% if resultVO.DENY_MODIFY_DAY == "-1" %}selected {% endif %} value="-1">-1</option>
                        <option {% if resultVO.DENY_MODIFY_DAY == "00" %}selected {% endif %} value="00">00</option>
                        <option {% if resultVO.DENY_MODIFY_DAY == "01" %}selected {% endif %} value="01">01</option>
                        <option {% if resultVO.DENY_MODIFY_DAY == "02" %}selected {% endif %} value="02">02</option>
                        <option {% if resultVO.DENY_MODIFY_DAY == "03" %}selected {% endif %} value="03">03</option>
                        <option {% if resultVO.DENY_MODIFY_DAY == "04" %}selected {% endif %} value="04">04</option>
                        <option {% if resultVO.DENY_MODIFY_DAY == "05" %}selected {% endif %} value="05">05</option>
                        <option {% if resultVO.DENY_MODIFY_DAY == "06" %}selected {% endif %} value="06">06</option>
                        <option {% if resultVO.DENY_MODIFY_DAY == "07" %}selected {% endif %} value="07">07</option>
                        <option {% if resultVO.DENY_MODIFY_DAY == "14" %}selected {% endif %} value="14">14</option>
                        <option {% if resultVO.DENY_MODIFY_DAY == "30" %}selected {% endif %} value="30">30</option>
                    </select>

                        &nbsp;{% trans "11337 Cancel" %}&nbsp;<select id="deny_cancel_day" name="deny_cancel_day" style="width: 40px;">
                            <option {% if resultVO.DENY_CANCEL_DAY == "-1" %}selected {% endif %} value="-1">-1</option>
                            <option {% if resultVO.DENY_CANCEL_DAY == "00" %}selected {% endif %} value="00">00</option>
                            <option {% if resultVO.DENY_CANCEL_DAY == "01" %}selected {% endif %} value="01">01</option>
                            <option {% if resultVO.DENY_CANCEL_DAY == "02" %}selected {% endif %} value="02">02</option>
                            <option {% if resultVO.DENY_CANCEL_DAY == "03" %}selected {% endif %} value="03">03</option>
                            <option {% if resultVO.DENY_CANCEL_DAY == "04" %}selected {% endif %} value="04">04</option>
                            <option {% if resultVO.DENY_CANCEL_DAY == "05" %}selected {% endif %} value="05">05</option>
                            <option {% if resultVO.DENY_CANCEL_DAY == "06" %}selected {% endif %} value="06">06</option>
                            <option {% if resultVO.DENY_CANCEL_DAY == "07" %}selected {% endif %} value="07">07</option>
                            <option {% if resultVO.DENY_CANCEL_DAY == "14" %}selected {% endif %} value="14">14</option>
                            <option {% if resultVO.DENY_CANCEL_DAY == "30" %}selected {% endif %} value="30">30</option>
                        </select>
                        &nbsp;( -1 for All Arr.Date Accepted. 00 Deny for Today, 01 Deny Till Tomorrow...)
                    </td>
                </tr>
                <tr>
                    <th align="right">{% trans "11654 Update info" %}</th>
                    <td >
                        <select id="CMS_UPD_TYPE" name="CMS_UPD_TYPE" style="width: 80px;">
                            <option {% if resultVO.CMS_UPD_TYPE == "H" %}selected {% endif %} value="H">Holding</option>
                            <option {% if resultVO.CMS_UPD_TYPE == "P" %}selected {% endif %} value="P">Pass</option>
                        </select>
                        &nbsp;&nbsp;API_AutoBatch
                            <select id="API_AUTOBATCH" name="API_AUTOBATCH" style="width: 40px;">
                            <option {% if resultVO.API_AUTOBATCH == "N" %}selected {% endif %} value="N">N</option>
                            <option {% if resultVO.API_AUTOBATCH == "Y" %}selected {% endif %} value="Y">Y</option>
                        </select>

                    </td>
                    <td></td>
                    <th align="right">{% trans "12329 Card Type" %}</th>
                    <td >
                         <select id="CCINFO_TYPE" name="CCINFO_TYPE" style="width: 80px;">
                            <option {% if resultVO.CCINFO_TYPE == "Y" %}selected {% endif %} value="Y">Receive</option>
                             <option {% if resultVO.CCINFO_TYPE == "N" %}selected {% endif %} value="N">No Receive</option>
                               <option {% if resultVO.CCINFO_TYPE == "M" %}selected {% endif %} value="M">Masking</option>
                         </select>
                    </td>
                </tr>

                <tr>
                    <th align="right">{% trans "11712 Remark" %}</th>
                    <td colspan="4">
                        <textarea name="remark" rows="3" style="width: 625px;">{{resultVO.remark}}</textarea>
                    </td>
                </tr>
                {% if resultVO.tproc == "EDIT" %}
                <tr>
                    <th align="right"> {% trans "12087 Input" %}
                    </th>
                    <td>
                        {{resultVO.Input_User}}
                    </td>
                    <td></td>
                    <th align="right"> {% trans "12310 Update" %}
                    </th>
                    <td>
                        {{resultVO.Update_User}}
                    </td>
                </tr>
                {% endif %}
            </table>

            <table width="100%">
                <tr>
                    <td align="right">
                       <input type="button" class="RLINK_button62" onclick="funcSubmit();" value="{% trans '12503 Save' %}" id="noprint" border="0" />
                        <a onclick="parent.$('#dialog').dialog('close');"><input type="button" class="RLINK_button62" onclick="funcClose();" value="{% trans '12405 Close' %}" id="noprint" border="0" /></a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock content %}