{% extends "CMM/_LayoutMainMaster.html" %}
{% load i18n %}

{% block head %}
    <script type="text/javascript">
        function funcSubmit() {

            if (document.frm.OFFICE_NO.value == "") {
                alert("{% trans '12288 Please select a hotel.' %}");
                document.frm.OFFICE_NO.focus();
                return;
            }

            if (document.frm.CMS_CD.value == "") {
                alert("{% trans '12587 Please Input CMS!' %}");
                document.frm.CMS_CD.focus();
                return;
            }

            if (document.frm.CMS_MRMTYPE.value == "") {
                alert("{% trans '12588 Please Input M.Rm/T !' %}");
                document.frm.CMS_MRMTYPE.focus();
                return;
            }

            if (document.frm.CMS_MRMTYPE_NM.value == "") {
                alert("{% trans '12589 Please Input M.Rm/T Name!' %}");
                document.frm.CMS_MRMTYPE_NM.focus();
                return;
            }

            if (document.frm.OFFICE_NO.disabled == true) {
                document.frm.OFFICE_NO.disabled = false
            }

            if (document.frm.CMS_CD.disabled == true) {
                document.frm.CMS_CD.disabled = false
            }

            //alert(document.frm.CMS_CD.value);
            //alert(document.frm.CMS_MRMTYPE.value);
            //alert(document.frm.ROOM_TYPE.value);

            if ((document.frm.CMS_CD.value == "SFZ") && (document.frm.CMS_MRMTYPE.value != "") && (document.frm.ROOM_TYPE.value != "") && (document.frm.CMS_MRMTYPE.value != document.frm.ROOM_TYPE.value) ) {
                alert("Selfzon need to use same code with PMS.");
                document.frm.CMS_MRMTYPE.focus();
                return;
            }

            //alert("####");
            //return;

            if (true == confirm("{% trans '10001 Do you want to save?' %}")) {
                frm.action = "/CM/WCM110_U101"  //frm.action = "/NsmdG/CM/WCM110_U101/mainTran/"
                frm.submit();
            }
        }


        function enterNext(val) {
            var keyCode = event.keyCode;

            //alert(keyCode);
            if (keyCode != 13 && keyCode != 9) {
                //alert(keyCode);
                return;
            }
            else {
                //
            }

            if (keyCode == 9) {
                event.returnValue = false;
            }

            //엔터키 입력시 포커스 이동 설정
            if (keyCode == 13 || keyCode == 9) {
                var tmpVal = val.replaceAll("inputBox", "");


                //9번항목 Hidden 필드
                if (tmpVal == "9") { tmpVal = "10" }


                event.returnValue = false;
                $("#inputBox" + (parseInt(tmpVal) + 1)).focus();
                $("#inputBox" + (parseInt(tmpVal) + 1)).select();
            }

        }

    </script>
{% endblock head %}

{% block content %}
{% load SetSelectBox2 %}
    <h2 class="pagetitle">CMS RoomType</h2>
    <div class="pageid">CM110 U101</div>

    <div class="info">
        <!-----기본사항 시작----->
        <form name="frm" method="post" action="/CM/WCM110_U101" enctype="multipart/form-data">  <!-- action="/NsmdG/CM/WCM110_U101/mainTran/" -->
            <input type="hidden" name="tProc" value="{{resultVO.tProc}}">
            <table width="100%" class="f4tblview">
                <colgroup>
                    <col width="20%" />
                    <col width="30%" />
                    <col width="20%" />
                    <col width="30%" />
                </colgroup>
                <tr>
                    <th>{% trans "11003 Hotel" %}</th>
                    <td>
                        <select name="OFFICE_NO" id="OFFICE_NO" style="width: 200px;" onblur="chkInjection(this);" onfocus="" tabindex1="34" {% if resultVO.tProc == "EDIT" %}disabled{% endif %}>
                            {% SetSelectBox2 "Office_No" resultVO.OFFICE_NO "--" "" "" request sessionInfo.OfficeNo %}
                        </select>
                    </td>
                    <th>CMS</th>
                    <td>
                        <select name="CMS_CD" id="CMS_CD" style="width: 150px;" onblur="chkInjection(this);" onfocus="" tabindex1="34" {% if resultVO.tProc == "EDIT" %}disabled{% endif %}>
                            {% load SetSelectBox1 %}
                            {% SetSelectBox1 "CMS_ALL" resultVO.CMS_CD "" "" "" request sessionInfo.OfficeNo %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>M.Rm/T Code</th>
                    <td colspan="3">
                        <input type="text" name="CMS_MRMTYPE" id="CMS_MRMTYPE" onblur="chkInjection(this,100)" style="width: 198px" maxlength="20" value="{{resultVO.CMS_MRMTYPE}}" {% if resultVO.tProc == "EDIT" %}readonly{% endif %}>
                        Selfzon uses same code with PMS.
                    </td>
                </tr>
                <tr>
                    <th>M.Rm/T Name</th>
                    <td>
                        <input type="text" name="CMS_MRMTYPE_NM" onblur="chkInjection(this,100)" style="width: 198px" value="{{resultVO.CMS_MRMTYPE_NM}}">
                    </td>
                    <th>{% trans "12225 Remark" %}</th>
                    <td>
                        <input type="text" name="CMS_MRMTYPE_NM2" onblur="chkInjection(this,100)" style="width: 198px" value="{{resultVO.CMS_MRMTYPE_NM2}}">
                    </td>
                </tr>
                <tr>
                    <th>PMS Rm/T</th>
                    <td>
                        <select name="ROOM_TYPE" id="ROOM_TYPE" style="width: 200px;" onblur="chkInjection(this);" onfocus="" tabindex1="34">
                            {% SetSelectBox2 "RM_TYPE2" resultVO.ROOM_TYPE "--" "" "" request sessionInfo.OfficeNo %}
                        </select><!--<%&#45;&#45;<input type="text" name="RTYPE_NM" id="RTYPE_NM" style="width:250"  value="<%'=ViewData("resultVO").RTYPE_NM %>">&#45;&#45;%>-->
                    </td>
                    <th>{% trans "11837 Use" %}</th>
                    <td>
                        <select id="USE_FLAG" name="USE_FLAG" style="width: 40px;">
                            <option {% if resultVO.USE_FLAG == "Y" %}selected {% endif %} value="Y">Y</option>
                            <option {% if resultVO.USE_FLAG == "N" %}selected {% endif %} value="N">N</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>{% trans "11712 Remark" %}</th>
                    <td colspan="3">
                        <textarea name="remark" rows="3" style="width: 500px;" cols="1">{{resultVO.remark}}</textarea>
                    </td>
                </tr>
                <tr>
                    <th>Rm Img(S)</th>
                    <td colspan="3">
                        <input type="file" name="attach_file1" size="43" class="inputText" />
                        <a href="/data/Eroomtype/{{resultVO.RTYPE_IMGS}}" target="blink">{{resultVO.RTYPE_IMGS}}</a>
                    </td>
                </tr>
                <tr>
                    <th>Rm Img(L)</th>
                    <td colspan="3">
                        <input type="file" name="attach_file2" size="43" class="inputText" />
                        <a href="/data/Eroomtype/{{resultVO.RTYPE_IMGL}}" target="blink">{{resultVO.RTYPE_IMGL}}</a>
                    </td>
                </tr>
                <tr>
                    <th>{% trans "11837 Mapping Code" %}</th>
                    <td colspan="3">
                        PLANCD&nbsp;
                        <input type="text" name="CMS_PLANCD" onblur="chkInjection(this,30)" style="width: 178px" value="{{resultVO.CMS_PLANCD}}">
                        &nbsp;&nbsp;&nbsp;
                        RRMCD&nbsp;
                        <input type="text" name="RDESK_RMCD" onblur="chkInjection(this,30)" style="width: 178px" value="{{resultVO.RDESK_RMCD}}">
                    </td>
                </tr>
                {% if resultVO.tProc == "EDIT" %}
                <tr>
                    <th> {% trans "12087 Input" %}
                    </th>
                    <td>
                        {{resultVO.Input_User}}
                    </td>
                    <td></td>
                    <th> {% trans "12310 Update" %}
                    </th>
                    <td>
                        {{resultVO.Update_User}}
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td colspan="4" align="center">
                        <input type="button" class="RLINK_button62" onclick="funcSubmit();" value="{% trans '12503 Save' %}" id="noprint" border="0" />
                        <a onclick="parent.$('#dialog').dialog('close');"><input type="button" class="RLINK_button62" onclick="funcClose();" value="{% trans '12405 Close' %}>" id="noprint" border="0" /></a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock content %}