@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/*  Reset CSS  */
/*  Reset */
html,body{height:100%;/*line-height:18px;*/}
*,body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,a {margin:0;padding:0;box-sizing:border-box;}
body, th, td, div, p, li, dt, dd, input, textarea, select, button {
	color:#333;font-size:14px;
	font-family:'Noto Sans KR', "Roboto",	verdana, arial, 'Times New Roman', Times, serif, sans-serif; 
  font-weight:400;
}
body {-webkit-text-size-adjust:none} /* 뷰표트 변환시 폰트크기 자동확대 방지 */

fieldset, img, area {border:0 none;vertical-align:top;}
ul, ol {list-style:none;}
h1,h2,h3,h4,h5,h6 {font-size:14px;font-weight:normal;text-align:left;}
hr {display:none;}
a:link, a:visited, a:active {color:#333;text-decoration:none;box-sizing:border-box;}
a:hover {color:#333;text-decoration:none;}

caption, th {text-align:left;font-weight:normal;}
legend, caption {overflow:hidden;left:0;top:-5000px;width:0;height:0;font-size:0;line-height:0;display:none;}

button,label{cursor:pointer;}
button {display:inline-block;border:0;vertical-align:top;}
button img{left:-3px;*left:auto}
button * {position:relative;}
button span {z-index:-1;}
textarea{*margin:-1px 0;resize:none;}
em,address{font-style:normal}

table {width:100%;}
table, table th, table td {border-collapse:collapse;border-spacing:0;}
table td a {text-decoration:underline;}

/* Common */
.cfx:after{display:block;clear:both;content:"";}
.cfx{zoom:1;overflow:hidden;}

.overh {overflow:hidden;clear:both;}
.clear{display:block; float:none; clear:both; height:0; width:100%; font-size:0 !important; line-height:0 !important; overflow:hidden; margin:0 !important; padding:0 !important;}
.blind {position:absolute;left:0;top:0;width:0;height:0;overflow:hidden;font-size:0;line-height:0;visibility:hidden;}

.vt {vertical-align:top;}
.vm {vertical-align:middle;}
.fl {float:left;}
.fr {float:right;}
.tl {text-align:left !important;}
.tr {text-align:right;}
.tc {text-align:center !important;}
.spacing {letter-spacing:normal !important;}

.bgn {background:0 !important;}

.hide {display:none;}
.show {display:block;}

/* placeholder */
input::placeholder {
  color: #b6b6b6;
}

input[type="text"], button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
		  outline: none;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거
input::-ms-clear { display: none; }
*/

/* input type number 에서 화살표 제거
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
 */
/* Select box 스타일 초기화
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
 */
/* IE 에서 Select box 화살표 제거
select::-ms-expand { display: none; }
 */

/* 
 .scroll {
   -ms-overflow-style: none;
 }
 .scroll::-webkit-scrollbar {
   display: none;
 } */


 #wrap { position:relative;}
header { position:relative; border-bottom:1px solid #e5e5e5; height:50px; }
header h1 { width: 161px; padding: 5px 0px 0px 1px;float: left;}
header h1 a { display:block; height:100%; height:28px; }
header h1 a img { max-width:100%; }
a.close { 
    padding:20px; display:block; width:50px; height:50px; position:absolute;
    right:0; top:0; 
    }
a.close i:nth-child(1) { 
    position:absolute; left:24px; top:15px; width:2px; height:20px; 
    background:#707070; transform: rotate(-45deg);
}
a.close i:nth-child(2) { 
    position:absolute; left:24px; top:15px; width:2px; height:20px; 
    background:#707070; transform: rotate(45deg);
}
#container { padding-bottom:120px;}
.pBox1 { padding:0px 20px 0 23px; font-size:12px; line-height:1.4; color:#707070;  }
.pBox1 strong { color:#2a2a2a; font-weight: normal; }
.pBox1 strong.blue { color:#3d50b0;}
.list {padding: 4px 20px 9px 20px;}
.list li { border-bottom:1px solid #cfcfcf;padding: 4px 15px 8px 3px; font-size:14px; }
.list li:after { content:"";display:block;clear: both;}
.list li label { float:left; width:30%; display:block; color:#6b6b6b; }
.list li span { float:left; display:block; color:#575757;  } /*width:30%;*/ 
.list li label.blue, .list li span.blue { color:#3d50b0;}
.pBox2 { padding:0 16px 20px 16px; font-size:12px; line-height:1.4; color:#707070;  }
a.btnBlue { 
    display:block; text-align:center; padding:12px; background:#3345a5; color:#fff; font-size:15px; /*margin:10px 16px 0;*/
    position: fixed;bottom: 88px;z-index: 9999;width: 88%;border-radius: 5px;/*margin:10px 12px 0;*/
}

#layerAlram { 
    display:none;
    position:fixed; z-index: 9999; width:100%; height:100%; left:0; top:0; padding:0 16px; 
}
.insA { height:auto; transform: translateY(-50%); top:50%; position:relative; background:#fff; z-index:2;}
.insA h3 { text-align:center; font-size:15px; color:#2a2a2a; padding:15px 0; text-align:center;}
.insA p { padding:0 16px 25px; color:#757575; font-size:14px;}
.insA div a{ float:left; width:50%; display:block; padding:13px 0; text-align:center;}
a.cancel { color:#313444; background:#dbdbdb; }
a.confirm { color:#fff; background:#313444; }
a.layerClose {
    padding:20px; display:block; width:50px; height:50px; position:absolute;
right:0; top:0; 
}
a.layerClose i:nth-child(1) { 
    position:absolute; left:24px; top:15px; width:3px; height:20px; 
    background:#707070; transform: rotate(-45deg);
}
a.layerClose i:nth-child(2) { 
    position:absolute; left:24px; top:15px; width:3px; height:20px; 
    background:#707070; transform: rotate(45deg);
}
.shadow { 
    cursor: pointer;
    position:relative; background:rgba(0,0,0,0.5); position:absolute; left:0; top:0; width:100%; height:100%; z-index:1;
}

footer { background:#333646; padding: 5px 5px 5px 23px; position: fixed; bottom: 0; left:0; width:100%; }
footer.on { position:relative; bottom:auto;left:auto; margin-top:30px;}
footer p { font-size:12px; line-height:1.4; color:#fff; }

.pBox3 { padding: 15px 20px 20px 3px; font-size:14px; line-height:1.4; color:#707070; background-color: #e5e5e5;margin: 5px 20px 5px 20px; }
.pBox3 strong { color:#2a2a2a; font-weight: normal; }
.pBox3 strong.blue { color:#3d50b0;}

.stcolor label{ color:#1536e6!important}
.stcolor span{ color:#1536e6!important;font-weight:bolder!important;}